#cart-list {
  border: 2px solid white;
}

a {
  color: white;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

li {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 2px;
  padding: 2px;
}
